<nav class="navbar navbar-expand-lg navbar-light" style="background: #FFFFFF;">
  <div class="container">
    <button type="button" class="btn navbar-brand" (click)="onClickButtonMenu.emit()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo_skandia.png" alt="Logo Skandia">
    </a>
    <div class="d-flex align-items-center">
      <span class="navbar-brand mb-0 h1 d-none d-sm-inline"> | </span>
      <span class="navbar-brand mb-0 h1 d-inline d-sm-none text-truncate" style="max-width: 140px;"> | Plan Financiero
        Digital - FPX</span>
      <span class="navbar-brand mb-0 h1 d-none d-sm-inline"> Plan Financiero Digital - FPX</span>
    </div>
    <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-decoration-underline fw-bold" href="#" style="color: #00C83C;">
              <img src="assets/images/happy.png" alt="Icono Happy" class="img-fluid me-2" style="max-height: 24px;">Tu
              Financial Planner
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-underline fw-bold" href="#" style="color: #00C83C;">
              <img src="assets/images/hand.png" alt="Icono Hand" class="img-fluid me-2"
                style="max-height: 24px;">Aportes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="assets/images/comp_faq.png" alt="Icono Comp_fac" class="img-fluid me-2"
                style="max-height: 24px;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>