<div class="container">
  <section class="w-100 p-5 row d-flex justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <app-card-aditional-info [infoCardAditional]="infoCardAditional"></app-card-aditional-info>
    </div>
  </section>
  <section class="w-100 py-2 px-5">
    <section class="text-center mb-4">
      <p class="fs-4" style="font-weight: 700;">¡Vamos por esos <span style="color: #FE9200;">$6.000.000</span> para
        <span style="color: #FE9200;">Conocer mi sobrino!</span>
      </p>
      <p class="fs-5">¡A través de tus productos y nuestros rendimientos podremos lograrlo!</p>
      <p class="fs-6" style="font-weight: 700;">Asocia tus productos o adquiere uno nuevo.
        <img src="assets/images/group_12953.png" alt="Imagen icon question" class="img-fluid me-1">
      </p>
    </section>
    <div class="row">
      <div *ngFor="let item of cards.listCard" class="col-sm-12 col-md-6 col-lg-3">
        <app-card [card]="item"></app-card>
      </div>
    </div>
  </section>
  <section class="w-100 text-center my-5">
    <button class="px-5 py-4 border-0 rounded-pill fs-5" style="background: #E2E2E2; color: #3F3F3F; font-weight: 600;">
      Asociar a objetivo
    </button>
  </section>
</div>