<div class="card border-0 shadow rounded-2 position-relative overflow-hidden">
  <div class="card-body p-sm-4 p-md-5">
    <header class="row d-flex justify-content-between">
      <div class="col-md-6 text-start">
        <h5 class="fs-5 fw-bold m-0">{{ infoCardAditional.title }}</h5>
        <h6 class="fs-6 fw-bold">Categoría: {{ infoCardAditional.category }}</h6>
      </div>
      <div class="col-md-6 text-end">
        <span class="text-decoration-underline" style="color: #00C83C; cursor: pointer;">Revisar objetivo</span>
      </div>
    </header>
    <section class="row d-flex justify-content-between mt-3 g-1">
      <div class="col-md-4 col-sm-12 text-center d-flex flex-column">
        <span class="fs-6">En esta fecha:</span>
        <div class="fs-6 fw-bold mt-1 py-2 w-75 rounded mx-auto" style="background: #A5D7E1;">{{ infoCardAditional.date
          }}
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <span class="fs-6">Lograrás:</span>
        <div class="fs-6 fw-bold mt-1 py-2 w-75 rounded mx-auto" style="background: #FECD72;">{{
          infoCardAditional.achievements | currency }}</div>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <span class="fs-6">Ya cuentas con:</span>
        <div class="fs-6 fw-bold mt-1 py-2 w-75 rounded mx-auto" style="background: #95DBB7;">{{
          infoCardAditional.youAlreadyHave | currency }}</div>
      </div>
      <p class="text-start text-decoration-underline fs-6 mt-5" style="color: #00C83C;"><img
          src="assets/images/icon_awesome_check_circle.png" alt="Imagen icon check" class="img-fluid">
        ¡Asocia productos para monitorear su progreso!</p>
    </section>
  </div>
  <img src="assets/images/mask_group.png" alt="Imagen card aditional"
    class="img-fluid position-absolute h-auto bottom-0 end-0 d-none d-md-block">
</div>