@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    background-color: #fafafa !important;
}

:root {
    --swiper-navigation-color: #00C83C;
    --swiper-pagination-color: #00C83C;
    background-color: #fafafa !important;  
}

.p-menu {
    border: none !important;
    background: #E2E2E2;
}

.p-menu .p-menuitem-text {
    font-size: 14px !important;
    color: #3F3F3F;
    padding-left: 20px;
}